@import "tailwindcss";
@tailwind utilities;

@import "./assets/fonts/Panchang/WEB/css/panchang.css";
@import "./assets/fonts/Architects_Daughter/style.css";

:root {
  --light: #efefef;
  --dark: #000000;

  color: var(--light);
  background-color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@theme {
  --font-panchang: "Panchang", sans-serif;
  --font-archiDaughter: "Architects Daughter", sans-serif;
  --color-dark: var(--dark);
  --color-light: var(--light);
}
